@model IEnumerable<CDDirectory.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<h1>Artister</h1>

<p>
    <a asp-action="Create">Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArtistId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ArtistId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.ArtistId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.ArtistId">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
