@model IEnumerable<CDDirectory.Models.CD>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista över CD</h1>

<p>
    <a asp-action="Create">Skapa ny</a>
</p>
<form asp-controller="CD" asp-action="Index" method="get">
    <p>
        Titel: <input type="text" name="SearchString" />
        <input type="submit" value="Filtrera" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.Name)
            </td>
            <td>
                @if (item.UserId != null) {
                    @Html.DisplayFor(modelItem => item.UserId)
                } else {
                    <p>Ej utlånad</p>
                }
                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CDId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.CDId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.CDId">Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
